<HTML>
<head>
  <title><%= restaurants.name %></title>
  <!--add code[Googlemap]-->
  <!--script for google map??-->
  <!--end add code-->
</head>
<BODY>
<H2><%= restaurants.name %></H2>
<% if (restaurants.photo != null) { %>
<p>
  <img src="data:<%= restaurants.photo.contentType %>;base64,<%= restaurants.photo %>">
<br>
<% } %>
<p>Name: <%= restaurants.name %></p>
<p>Cuisine: <%= restaurants.cuisine %></p>
<p>Street: <%= restaurants.address.street %></p>
<p>Building: <%= restaurants.address.building %></p>
<p>Zipcode: <%= restaurants.address.zipcode %></p>
<p>GPS: [ <%= restaurants.address.coord[0] %>,  <%=restaurants.address.coord[1] %> ]</p>
Rate:<br>
<ol>
<% for(var i = 0; i < restaurants.length; i++) { %>
	<li><%=restaurants.score[i].score%> <%=restaurants.score[i].marker%></li>
<% } %>
</ol>
<p>Created by: <%=restaurants.username %></p>


<!--Googlemap-->
<link rel="stylesheet" type="text/css" href="layout.css">
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&key=AIzaSyBm_Oka5-CVkjrO3iNUsn0K5rINbqNsrJU"></script>
        <script type="text/javascript">
            var loadMap = function() 
            {
				var myLatLng = {lat: <%=restaurants.address.coord[1]%>, lng: <%=restaurants.address.coord[0]%>};
                var map = new google.maps.Map(document.getElementById("map"),{
				      zoom: 15,	
				      center: myLatLng
				}); 
				var map = new google.maps.Marker({
					position: myLatLng,
					map: map,

				});
            };
            window.onload= loadMap;
        </script>
        	<aside>
        	<div id="map" style="width:500px;height:500px;">
			</aside>

<!--Googlemap-->

<a href=/rate?id=<%= restaurants._id %>>Rate</a>
<a href=/change?id=<%= restaurants._id %>>Edit</a>
<a href=/remove?id=<%= restaurants._id %>>Delete</a>
<input type ="button" onclick="history.back()" value="Go back"></input>


</BODY>
</HTML>
